window#bar {
   all: unset;
   color: $fg0;
   font-size: $font-size;

   .main {
      margin: $bar-margin;
      background: rgba($bar-bg, $bar-opacity);
      @if $bar-opacity != 0 {
         box-shadow: $bar-shadow-offset
            $bar-shadow-blur
            $bar-shadow-spread
            rgba($bar-shadow-color, $bar-shadow-opacity);
      }
      @if $bar-vertical {
         min-width: $bar-size;
      } @else {
         min-height: $bar-size;
      }
      @if all-zero($bar-margin) {
         @if $bar-position == "top" {
            border-bottom: $bar-border-width solid $bar-border-color;
         } @else if $bar-position == "bottom" {
            border-top: $bar-border-width solid $bar-border-color;
         } @else if $bar-position == "left" {
            border-right: $bar-border-width solid $bar-border-color;
         } @else if $bar-position == "right" {
            border-left: $bar-border-width solid $bar-border-color;
         }
      } @else {
         border-radius: $widget-radius;
         border: $bar-border-width solid $bar-border-color;
      }
   }

   tooltip {
      background: rgba($bg0, $bar-opacity);
      border: $border-width solid $border-color;
      border-radius: $widget-radius;
   }

   .modules-start {
      .first-child {
         @if $bar-vertical {
            padding-top: 6px;
         } @else {
            padding-left: 6px;
         }
      }
   }

   .modules-end {
      .last-child {
         @if $bar-vertical {
            padding-bottom: 6px;
         } @else {
            padding-right: 6px;
         }
      }
   }

   .bar-item {
      background: transparent;
      font-weight: normal;
      @if $bar-vertical {
         padding: 0 6px;
      } @else {
         padding: 6px 0;
      }

      .content {
         border-radius: $widget-radius;
         background: rgba($bar-button-bg, $bar-button-opacity);
         border: $bar-button-border-width solid $bar-button-border-color;
         color: $bar-button-fg;
         padding: $bar-button-padding;
         @if $bar-opacity == 0 {
            box-shadow: $bar-shadow-offset
               $bar-shadow-blur
               $bar-shadow-spread
               rgba($bar-shadow-color, $bar-shadow-opacity);
         }
      }

      &:hover {
         .content {
            background: rgba($bar-button-bg-hover, $bar-button-opacity);
            transition: background $transition;
         }
      }

      &.active {
         .content {
            background: rgba($bar-button-bg-active, $bar-button-opacity);
            transition: background $transition;
         }
      }
   }

   .workspace {
      @if $bar-vertical {
      } @else {
         padding: 0 5px;
      }
   }

   @keyframes blink {
      to {
         background: $red;
      }
   }

   .record-indicator {
      background: $fg0;
      min-height: 15px;
      min-width: 15px;
      border-radius: 99px;
      animation-name: blink;
      animation-duration: 0.5s;
      animation-timing-function: steps(12);
      animation-iteration-count: infinite;
      animation-direction: alternate;
   }

   .tray {
      .menu {
         &.menu > contents {
            background: $bg0;
            margin-top: 5px;
            border: $border-width solid $bg1;
            box-shadow: none;
            @if $shadow {
               box-shadow: $bar-shadow-offset
                  $bar-shadow-blur
                  $bar-shadow-spread
                  rgba($bar-shadow-color, $bar-shadow-opacity);
            }
         }

         &.menu > arrow {
            all: unset;
         }
      }

      .items {
         padding: 6px 0;

         button {
            background: rgba($bar-button-bg, $bar-button-opacity);

            &:hover {
               background: $bg1;
            }
         }
      }
   }

   .taskbar-button {
      background: transparent;
      padding: $bar-button-padding;

      &.focused {
         .indicator {
            transition: background $transition;
            background: $accent;
         }
      }

      .indicator {
         border-radius: $widget-radius;
         min-width: 4px;
         min-height: 4px;
         background: $bg3;
         transition: min-width $transition;
      }
   }
}

window#bar_shadow {
   all: unset;

   .shadow {
      @if $bar-vertical {
         margin-top: $bar-margin-top + $widget-radius;
         margin-bottom: $bar-margin-bottom + $widget-radius;
      } @else {
         margin-right: $bar-margin-right + $widget-radius;
         margin-left: $bar-margin-left + $widget-radius;
      }

      @if $shadow and $bar-opacity != 0 {
         @if $bar-position == "top" {
            box-shadow: inset
               0px
               10px
               8px -10px
               rgba($bar-shadow-color, $bar-shadow-opacity);
         } @else if $bar-position == "bottom" {
            box-shadow: inset
               0px -10px
               8px -10px
               rgba($bar-shadow-color, $bar-shadow-opacity);
         } @else if $bar-position == "right" {
            box-shadow: inset -10px
               0px
               8px -10px
               rgba($bar-shadow-color, $bar-shadow-opacity);
         } @else if $bar-position == "left" {
            box-shadow: inset
               10px
               0px
               8px -10px
               rgba($bar-shadow-color, $bar-shadow-opacity);
         }
      }
   }
}
