window#notifications_popup {
   all: unset;
   color: $fg0;

   .notification {
      @if $shadow {
         box-shadow: $window-shadow-offset
            $window-shadow-blur
            $window-shadow-spread
            rgba($window-shadow-color, $window-shadow-opacity);
      }
   }
}

window#notifications_list {
   all: unset;
   color: $fg0;

   .main {
      background: rgba($bg0, $window-opacity);
      border: $window-border-width solid $window-border-color;
      padding: $window-padding;
      border-radius: $window-radius;
      @if $shadow {
         box-shadow: $window-shadow-offset
            $window-shadow-blur
            $window-shadow-spread
            rgba($window-shadow-color, $window-shadow-opacity);
      }
   }

   tooltip {
      background: rgba($bg0, $window-opacity);
      border: $border-width solid $border-color;
      border-radius: $widget-radius;
      margin: 10px;
      @if $shadow {
         box-shadow: $window-shadow-offset
            $window-shadow-blur
            $window-shadow-spread
            rgba($window-shadow-color, $window-shadow-opacity);
      }
   }

   .list {
      .header {
         min-height: 0;
      }
   }

   .notifs-clear {
      outline: none;
      padding: 0;
      min-height: 40px;
      min-width: 40px;
      background: transparent;
      color: $red;

      &:hover {
         transition: all $transition;
         color: $red-light;
      }

      &:focus {
         transition: 0s;
         outline-offset: -$outline-width;
         outline: $outline-width solid $outline-color;
      }
   }
   .notifs-dnd {
      outline: none;
      padding: 0;
      min-height: 40px;
      min-width: 40px;
      background: transparent;

      &:focus {
         transition: 0s;
         outline-offset: -$outline-width;
         outline: $outline-width solid $outline-color;
      }
   }
}

.notification {
   background: rgba($bg1, $window-opacity);
   padding: 10px;
   border-radius: $widget-radius;

   &.critical {
      color: $red;
   }

   .header {
      .time {
      }

      .close {
         outline: none;
         color: $red;

         &:focus {
            transition: 0s;
            outline-offset: -$outline-width;
            outline: $outline-width solid $outline-color;
         }

         &:hover {
            color: $red-light;
         }
      }

      button {
         border-radius: $widget-radius;
         padding: 0 4px;
         background: rgba($bg2, $window-opacity);
      }
   }

   .content {
      .body {
         font-style: normal;
         font-weight: normal;
      }

      .image {
         border-radius: $widget-radius;
         min-width: 90px;
         min-height: 90px;
      }
   }

   .actions button {
      border-radius: $widget-radius;
      font-weight: normal;
      background: rgba($bg2, $window-opacity);

      &:hover {
         background-color: $bg3;
      }
   }
}
