window#weather {
   all: unset;
   color: $fg0;
   font-size: $font-size;

   .main {
      background: rgba($bg0, $window-opacity);
      border: $window-border-width solid $window-border-color;
      padding: $window-padding;
      border-radius: $window-radius;
      @if $shadow {
         box-shadow: $window-shadow-offset
            $window-shadow-blur
            $window-shadow-spread
            rgba($window-shadow-color, $window-shadow-opacity);
      }
   }

   .refresh {
      background: transparent;
   }

   .day,
   .hour {
      min-width: 50px;
   }

   .current {
      .temp {
         font-size: 40pt;
      }
      .units {
         font-size: 18pt;
      }
   }

   .forecast {
      background: rgba($bg1, $window-opacity);
      border-radius: $widget-radius;
      padding: 15px;
   }

   @keyframes spin {
      to {
         -gtk-icon-transform: rotate(1turn);
      }
   }

   .scanning {
      &.active {
         animation: spin 1s linear infinite;
      }
   }
}
