* {
   font-size: $font-size;
   font-family: $font-name;
}

// some hack for fg color with accent

@function brightness($color) {
   @return (red($color) * 299 + green($color) * 587 + blue($color) * 114) / 1000;
}

@function get-contrast-color($color, $fg, $bg) {
   $color-bright: brightness($color);
   $fg-bright: brightness($fg);
   $bg-bright: brightness($bg);

   $is-light-theme: $bg-bright > 128;

   @if $is-light-theme {
      @if $fg-bright < 128 {
         @return if($color-bright > 128, $fg, $bg);
      } @else {
         @return if($color-bright > 128, $bg, $fg);
      }
   } @else {
      @if $fg-bright > 128 {
         @return if($color-bright > 128, $bg, $fg);
      } @else {
         @return if($color-bright > 128, $fg, $bg);
      }
   }
}
