window#osd {
   all: unset;
   color: $fg0;

   .main {
      border-radius: $window-radius;
      @if $shadow {
         box-shadow: $window-shadow-offset
            $window-shadow-blur
            $window-shadow-spread
            rgba($window-shadow-color, $window-shadow-opacity);
      }
   }

   .osd-icon {
      color: if(is-light($accent), $bg0, $fg0);
      padding-left: 10px;
      &.low {
         color: $fg0;
      }
   }

   levelbar {
      trough {
         .filled {
            border-radius: $widget-radius;
            background: $accent;
         }
      }

      block {
         background: $bg1;
         border-radius: $widget-radius;
         min-height: 56px;
      }
   }
}
