window#weather {
   all: unset;

   .main {
      background: $bg0;
      padding: $widget-main-padding;
      border: $border-width solid $border-color;
      border-radius: $widget-main-radius;
   }

   .refresh {
      background: transparent;
   }

   .day,
   .hour {
      min-width: 50px;
   }

   .forecast {
      background: rgba($bg0, 0.5);
      border-radius: $widget-radius;
      padding: 15px;
   }

   @keyframes spin {
      to {
         -gtk-icon-transform: rotate(1turn);
      }
   }

   .scanning {
      &.active {
         animation: spin 1s linear infinite;
      }
   }
}
